canaryServices:
  - name: classifier-canary
    image: ghcr.io/kwal0203/ai-mesh-classifier:canary
    port: 8002
    path: /classifier-canary

trafficSplit:
  enabled: true
  service: classifier
  port: 8002
  backends:
    - name: classifier-stable
      serviceSuffix: classifier
      port: 8002
      weight: 90
    - name: classifier-canary
      serviceSuffix: classifier-canary
      port: 8002
      weight: 10
